<form action="fight">
	<div>
		<div class="player_input first_player_input">
			<h3>Player 1</h3>
			<h4>Ships</h4>
			<textarea name="player_1_ships" rows="10"></textarea>
		</div>
		<div class="player_input">
			<h3>Player 2</h3>
			<h4>Ships</h4>
			<textarea name="player_2_ships" rows="10"></textarea>
		</div>
	</div>
	<div class="buttons">
		<input type="submit" value="Fight!"/>
	</div>

</form>